# CouchDB 설정
VITE_COUCHDB_URL=http://your-couchdb-server.com
VITE_COUCHDB_ADMIN_USER=your-admin-user
VITE_COUCHDB_ADMIN_PASS=your-admin-password
VITE_COUCHDB_DATABASE=your-database-name

# CouchDB 일반 사용자 인증 정보
VITE_COUCHDB_USER=your-user
VITE_COUCHDB_PASSWORD=your-password


# http://couchdb.ioplug.net/scoredb/_design/scores/_view/by_score?descending=true&limit=30